---
layout: default
---

<header class="jumbotron mb-3">
  <h1 class="display-4">{{ site.title }}</h1>
  <p class="lead">{{ site.description }}</p>
</header>

<section class="mb-3">
  {{ content }}
</section>

{%- if site.posts.size > 0 -%}
  <section class="mb-3">
    <div class="list-group">
      {%- for post in site.posts -%}
        <a href="{{ post.url | relative_url }}" class="list-group-item list-group-item-action">
          <h5>{{ post.title }}</h5>
          {%- if site.show_excerpts -%}
            <div class="text-muted">
                {{ post.excerpt }}
            </div>
          {%- endif -%}
          {%- if site.show_date -%}
            <small class="text-muted">
              {%- assign date_format = site.date_format | default: '%Y-%m-%d' -%}
              <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: date_format }}</time>
            </small>
          {%- endif -%}
        </a>
      {%- endfor -%}
    </div>
  </section>
{%- endif -%}
