---
layout: default
---

<header class="jumbotron">
  {%- if site.repository -%}
    <div id="github-ribbon">
      <a href="https://github.com/{{ site.repository }}" target="_blank">
        <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub">
      </a>
    </div>
  {%- endif -%}
  <h1 class="display-4">{{ site.title }}</h1>
  <p class="lead">{{ site.description }}</p>
  <aside>
    <p>
      {%- if site.version -%}
        <data value="{{ site.version }}">Version {{ site.version }}</data>・
      {%- endif -%}
      {%- assign date_format = site.date_format | default: '%Y-%m-%d' -%}
      <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: date_format }}</time>
    </p>
  </aside>
  <div class="d-sm-flex">
    {%- if site.show_ebooks_from_github_releases -%}
      <aside class="mr-sm-3">
        <ul class="list-unstyled">
          <li><a href="https://github.com/{{ site.repository }}/releases/download/{{ site.version }}/{{ site.ebook.file_name }}.epub" target="_blank">{% octicon book %} .epub</a></li>
          <li><a href="https://github.com/{{ site.repository }}/releases/download/{{ site.version }}/{{ site.ebook.file_name }}.mobi" target="_blank">{% octicon book %} .mobi (for Kindle)</a></li>
        </ul>
      </aside>
    {%- endif -%}
    {%- if site.kakuyomu.work_id or site.narou.ncode -%}
      <aside>
        <ul class="list-unstyled">
          {%- if site.kakuyomu.work_id -%}
            <li><a href="https://kakuyomu.jp/works/{{ site.kakuyomu.work_id }}" target="_blank">{% octicon link-external %} カクヨム</a></li>
          {%- endif -%}
          {%- if site.narou.ncode -%}
            <li><a href="https://ncode.syosetu.com/{{ site.narou.ncode | downcase }}/" target="_blank">{% octicon link-external %} 小説家になろう</a></li>
          {%- endif -%}
        </ul>
      </aside>
    {%- endif -%}
  </div>
  <aside>
    <a class="twitter-share-button"
       href="https://twitter.com/share"
       data-text="{{ site.title }}"
       data-url="{{ '/' | absolute_url }}"
       data-via="{{ site.twitter.username }}"
       data-related="{{ site.twitter.username }}"
       data-size="large">
      Tweet
    </a>
  </aside>
</header>

<section class="mb-3">
  {{ content }}
</section>

{%- if site.posts.size > 0 -%}
  <section class="mb-3">
    <div class="list-group">
      {%- assign posts = site.posts -%}
      {%- if site.reverse_posts_order -%}
        {%- assign posts = posts | reverse -%}
      {%- endif -%}
      {%- for post in posts -%}
        <a href="{{ post.url | relative_url }}" class="list-group-item list-group-item-action">
          <h5>{{ post.title }}</h5>
          {%- if site.show_excerpts -%}
            <div class="text-muted">
                {{ post.excerpt }}
            </div>
          {%- endif -%}
          {%- if site.show_date -%}
            <small class="text-muted">
              {%- assign date_format = site.date_format | default: '%Y-%m-%d' -%}
              <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: date_format }}</time>
            </small>
          {%- endif -%}
        </a>
      {%- endfor -%}
    </div>
  </section>
{%- endif -%}
